<div *ngIf="cardMovie" class="card mb-3" style="max-width: 500px; min-width: 500px; min-height: 250px; margin: 2%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{cardMovie.Poster}} class="img-fluid rounded-end" style="min-height: 250px;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{cardMovie.Title}}</h5>
          <p class="card-text">Type: {{cardMovie.Type}}</p>
          <p class="card-text"><small>Year: {{cardMovie.Year}}</small></p>
          <p class="card-text"><small>{{textFish}}</small></p>
        </div>
      </div>
    </div>
</div>