<div *ngIf="movie" class="card mb-3 detail" style="min-width: 500px; min-height: 250px;">
    <div class="row g-0 cardItems">
      <div class="col-md-4">
        <img src={{movie.Poster}} class="img-fluid rounded-end" style="min-height: 250px;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{movie.Title}}</h1>
          <p class="card-text fs-3">Type: {{movie.Type}}</p>
          <p class="card-text fs-3"><small>Year: {{movie.Year}}</small></p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci at id, repudiandae sit nostrum minima voluptatem explicabo labore nobis hic maxime. Repudiandae sequi officia autem aliquid totam voluptas facere qui.
          Magni beatae debitis ducimus eveniet? Officiis, provident maxime? Laborum a totam quasi rerum cumque quod cupiditate, illo nisi, aliquam aut adipisci dolorum fugiat animi non quam, earum unde reiciendis tempora!
          Optio ea, sint esse officiis nihil voluptatum repudiandae iste aliquam ipsa commodi dignissimos, beatae hic, debitis porro. Voluptatibus repellendus quia maxime iure doloribus expedita dolorum? Repudiandae dignissimos minus itaque labore?
          Praesentium sint maiores perspiciatis suscipit! Magni blanditiis debitis molestias totam rerum a molestiae, modi facere? Quaerat dolorum sunt magnam delectus assumenda debitis aliquid, et est nisi officia itaque dignissimos. Voluptatibus.
          Quasi, illo reiciendis aliquam deleniti nihil quam ex magnam velit saepe quaerat nostrum a itaque dolor nemo officiis suscipit ea, eos repellat nulla laboriosam? Nobis explicabo aliquam quae temporibus. Ratione.
          Impedit expedita quis magni officia nihil quisquam sapiente laudantium sed sunt quaerat a in necessitatibus fuga assumenda minima ut quasi autem culpa aspernatur, aperiam animi placeat error repellat eum? Odit?
          Vitae tempora maiores nemo. Consequuntur qui reiciendis unde ullam molestias libero delectus temporibus harum sequi illum quaerat sit vitae totam explicabo necessitatibus recusandae, impedit iure quam nihil assumenda quidem magni.
          Cupiditate, architecto iusto. Inventore, sequi? Quam autem sequi ipsa adipisci facilis soluta expedita cum tenetur minus harum vitae, quos quasi. Labore quia officiis rem veniam odit consectetur voluptates officia eos.
          Praesentium optio nemo, ab vero rem quod quidem deleniti, distinctio similique facilis libero! Unde optio recusandae temporibus enim architecto iusto dolore aliquid nobis, dolor, cupiditate eius officia veritatis perferendis ut?
          Vitae animi ipsa porro voluptatibus, veniam sunt aliquid assumenda repellat dicta commodi, dolorum consequuntur consectetur deserunt? Dolore ea, possimus aliquam ratione odio hic excepturi nam similique unde non magnam quibusdam.</p>
        </div>
      </div>
    </div>
</div>
